.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#sentence1, #sentence2, #sentence3, #sentence4 {
    opacity: 0;
}
#btnSubmit, #btnReset {
    padding: 10px 20px;
    margin: 15px 20px;
}